<div class="login-wrapper">
  <div class="header-section">
    <h1 class="system-title">Employee Management System</h1>
  </div>

  <div class="card-container">
    <div class="login-card">
      <div class="card-header-content">
        <i class="fas fa-key"></i>
        <span class="header-text">Reset Password</span>
      </div>

      <hr class="divider" />

      <form [formGroup]="form" (ngSubmit)="onReset()">
        <div class="form-group mb-3">
          <label class="form-label">USERNAME*</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Enter Username" />
          <div *ngIf="form.controls.username.invalid && form.controls.username.touched" class="text-danger small-error">
            Enter valid Username.
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">OLD PASSWORD*</label>
          <input type="password" class="form-control" formControlName="oldpassword" placeholder="Enter Old Password" />
          <div *ngIf="form.controls.oldpassword.invalid && form.controls.oldpassword.touched"
            class="text-danger small-error">
            Enetr correct password
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">NEW PASSWORD*</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter New Password" />
          <div *ngIf="form.controls.password.invalid && form.controls.password.touched" class="text-danger small-error">
            Minimum 8 characters required.
          </div>
        </div>

        <button type="submit" class="btn btn-signin w-100 mt-2" [disabled]="form.invalid">
          RESET PASSWORD
        </button>

        <div class="text-center mt-4 signup-text">
          Back to <a routerLink="/login" class="signup-link">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>